.header-container {
    display: flex;
    height: 14%;
    justify-content: center;
    align-items: center;
    background-color: #F7EDE8;
}
.header-title {
    font-size: 1.2em;
    color:rgb(44, 44, 44)
}