*{
    margin: 0;
}

a {
    all: unset;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.7em;
    word-wrap: break-word;
}

.app {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.app-container {
    height: 100vh;
}
// .Footer {
//     height: 5vh;
// }